.gallery {
    width: 1200px;

    margin-left: auto;
    margin-right: auto;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
}

.photo-card {
    background-color: antiquewhite;
    border-color:black;
    border: 1px solid;
    width: 282px;
    padding-top: 10px;
}

.photo-card:not(:nth-child(4n)) {
    margin-right: 21px;
}

.photo-card img {
   width: 240px;
   padding-left: 21px;
   padding-right: 21px;
}

.info{
    display: flex;
}

.info-item {
    text-align: center;
}